@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container row">
    @foreach(var product in Model)
    {
        <div class="col-sm-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@product.Name</h4>
                    <h6 class="card-subtitle mb-2 text-muted">$@product.Price</h6>
                    <p class="card-text">@product.Description</p>
                    <h6></h6>
                    <a class="btn btn-info" asp-controller="Cart" asp-action="AddtoCart" asp-route-productID="@product.ID">Add to Cart</a>
                </div>
            </div>
        </div>
        
    }
</div>

